@import "variables";
@import "flex.patterns";

%thin-bottom-broder {
  border-bottom: $thin-border $hint-tg-color;
  padding-bottom: 7px;
}

%delivery-data-page-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $tg-background;
  overflow: hidden;
}
