//----TELEGRAM-COLORS------------------------------------------------------
$light-tg-background: var(--tg-theme-secondary-bg-color);
$dark-tg-background: var(--tg-theme-bg-color);
$text-tg-color: var(--tg-theme-text-color);
$hint-tg-color: var(--tg-theme-hint-color);
$linn-tg-color: var(--tg-theme-link-color);
$button-tg-color: var(--tg-theme-button-color);
$button-text-tg-color: var(--tg-theme-button-text-color);

//------COLORS----------------------------------------------------
$empty-color: #0000;
$blue-color: rgb(0, 124, 255);
$gradient-color: radial-gradient(266.38% 477.63% at
-77.59% 78.26%, #eb9c00 0, #ff4769 27.08%, #3d50ff 66.38%, #00b3ff 100%);

//-------SIZES---------------------------------------------------
$main-blocks-width: 94%;
$bigger-top-margin: 2.3%;
$main-gap: 1.5%;
$wrapper-padding: 3%;
$wrapper-z-index: 0;
$middle-z-index: 1;
$high-z-index: 2;
$wrapper-margin: 1.5%;
$bottom-margin-friends: 4%;

