<div class="delivery-data-wrapper">
  <div class="delivery-data-component-searchbar-box">
    <div class="delivery-data-component-searchbar-label">{{inputLabel}}</div>
    <input
      (input)="onInputChange()"
      [(ngModel)]="ngModelField"
      class="delivery-data-component-searchbar-input"
    >
  </div>

  <div
    (scroll)="scroll()"
    class="delivery-data-component-cities-list-box"
  >
    <div
      (click)="onClick(item)"
      *ngFor="let item of dataArray | searchFilter: inputText"
      class="delivery-data-component-city-box"
    >
      <div class="delivery-data-component-city-name">{{item}}</div>
    </div>
  </div>
</div>
