@import "../../../styles/flex.patterns";
@import "../../../styles/variables";

.center-flex-order-widget-page-wrapper {
  @extend %center-flex;
  height: 100vh;
  width: 100vw;
}

.order-widget-page-wrapper {
  @extend %center-column-top-flex;
  width: 100%;
  height: 100vh;
  max-width: $max-width;
  background: $secondary-tg-background;
  overflow-y: scroll;
  overflow-x: hidden;
}

.order-widget-page-box {
  @extend %space-between-column-start-flex;
  width: 100%;
  padding: 0 $wrapper-padding;
  background: $secondary-tg-background;
}

.order-widget-page-text {
  width: fit-content;
  height: fit-content;
  font: $heading-text;
  color: $text-tg-color;
  margin-top: 2%;
}

.order-widget-page-order-catalog-box {
  @extend %space-between-row-center-flex;
  width: 100%;
  height: fit-content;
  margin-top: 5%;

  app-square-widget-order-page {
    width: 48%;
    aspect-ratio: 1 / 1;
  }
}

.order-widget-page-order-calculate-box {
  @extend %space-between-column-start-flex;
  width: 100%;
  height: fit-content;
  margin-top: 3%;
  gap: 8%;

  app-full-screen-widget-order-page {
    width: 100%;
    height: 58%;
  }
}


