@import "../../styles/flex.patterns";
@import "../../styles/variables";

.wrapper {
  @extend %center-column-top-flex;
  height: 100%;
  width: 100%;
  gap: $wrapper-margin;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header-component {
  @extend %space-between-row-center-flex;
  width: $main-blocks-width;
  height: fit-content;
  margin-top: 1%;
}

.search-bar-component {
  width: $main-blocks-width;
  height: fit-content;
}

.articles-component {
  position: relative;
  width: 100%;
  padding-left: 3%;
  scroll-padding-left: 6%;
  height: fit-content;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  overflow-x: scroll;
  touch-action: none;
}

.order-balance-component {
  width: $main-blocks-width;
  height: fit-content;
}
