@import "../../../../styles/center-flex.pattern";
@import "../../../../styles/squeeze-animation.pattern";

.article-widget {
  @extend %center-flex;
  @extend %squeeze-animation;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: var(--tg-theme-secondary-bg-color);
}

.frame-image-box {
  @extend %center-flex;
  width: 105px;
  height: 105px;
}

.article-widget-frame {
  width: fit-content;
  height: fit-content;
}

.article-widget-image {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

