@import "../../../styles/squeeze-animation.pattern";

.clear, .color {
  width: fit-content;
  height: 100%;
  border-radius: 0.8em;
  font-family: 'Mulish', sans-serif;
  color: var(--tg-theme-text-color);
  font-weight: 600;
  font-size: 14px;
  padding: 5.5% 4%;
  @extend %squeeze-animation;
}

.clear {
  background: var(--tg-theme-bg-color);
  border:  var(--tg-theme-text-color) solid 2px;
}

.color {
  background: var(--tg-theme-button-color);
  border:  var(--tg-theme-button-color) solid 2px;
}
