@import "../../../../styles/variables";
@import "../../../../styles/flex.patterns";

.center-flex-filtered-product-list-page-wrapper {
  @extend %center-flex;
  height: 100vh;
  width: 100vw;
}

.filtered-product-list-page-wrapper {
  width: 100%;
  height: 100vh;
  max-width: $max-width;
  padding: 0 $wrapper-padding $wrapper-bottom-padding;
  overflow-x: hidden;
  overflow-y: scroll;
}

.filtered-product-list-page-wrapper::-webkit-scrollbar {
  display: none;
}
