<div class="profile-wrapper">

  <div class="personal-information-box">
    <div class="personal-image">
      {{profileEnvironment.profileData.image}}
    </div>
    <div class="personal-name">
      {{profileEnvironment.profileData.name}}
    </div>
  </div>

  <div class="personal-status-box _size-color">
    <h2 class="status">
        Статус: <span class="status-label">{{profileEnvironment.profileData.status}}</span>
    </h2>
    <div class="points-description">
      Ты получишь <span>+50 баллов</span> за каждый заказ
    </div>
    <div class="status-rules">
      <p>У тебя нет завершенных заказов в Sneaker Shop.</p>
      <br>
      <p>Закажи и получи еще 3 товара, чтобы получить статус "Модник".</p>
    </div>
    <div class="status-sheet">
      <app-table-row
        *ngFor="let row of statusTableData; index as i"
        [index]="i"
        status="{{row.status}}"
        pointsForOrder="{{row.pointsForOrder}}"
        orders="{{row.orders}}"
      />
    </div>
  </div>

  <div class="_size-color">
    <div class="phone-number">
      <h2 class="phone">Телефон</h2>
      <p class="phone-description">Если привяжешь свой телефон, мы сможем перенести твои старые заказы в приложение</p>
    </div>
    <app-full-screen-button
      buttonClassName="clear"
      (buttonClick)="bindPhoneNumber()"
      *ngIf="!phoneNumberInputFieldIsShown"
      buttonText="Привязать телефон"
    />
    <app-data-form
      buttonType="tel"
      buttonPlaceholder="+7"
      submitButtonText="Подтвердить"
      cancelButtonText="Отменить"
      changeButtonText="Изменить"
      inputFieldIsShown="{{phoneNumberInputFieldIsShown}}"
      (cancelButtonClick)="bindPhoneNumber()"
    />
  </div>

  <div class="_size-color">
    <div class="delivery-inf">
      <h2 class="delivery-inf-label">Данные доставки</h2>
      <p class="delivery-inf-description">
        Чтобы не вводить каждый раз после заказа.
        Но если нужно будет заказать какой-то заказ в другое место — не проблема.
      </p>
    </div>
    <div class="delivery-inf-full-name">
      <div>ФИО получателя</div>
      <div class="delivery-inf-no-data">Не указано</div>
    </div>
    <app-data-form
      buttonType="text"
      buttonPlaceholder="ФИО получателя"
      submitButtonText="Подтвердить"
      cancelButtonText="Отменить"
      changeButtonText="Изменить"
    />
    <div class="delivery-inf-phone-number">
      <div>Телефон</div>
      <div class="delivery-inf-no-data">Не указано</div>
    </div>
    <app-data-form
      buttonType="tel"
      buttonPlaceholder="+7"
      submitButtonText="Подтвердить"
      cancelButtonText="Отменить"
      changeButtonText="Изменить"
    />
    <app-full-screen-button
      buttonClassName="clear"
      (buttonClick)="bindDeliveryInf()"
      buttonText="Редактировать"
    />
  </div>
</div>
