@import "../../../../styles/flex.patterns";

.order-card-box {
  @extend %space-between-column-top-flex;
  height: 82%;
  width: 78%;
}

.order-card-text {
  width: fit-content;
  height: fit-content;
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: white;
}

.order-card-icon {
  @extend %center-flex;
  width: 4em;
  height: 4em;
  background: white;
  border-radius: 50%;
}

.order-card-icon-arrow {
  width: 32px;
  height: 32px;
}
