@import "../../../../styles/flex.patterns";
@import "../../../../styles/variables";

.order-card-box {
  @extend %space-between-column-start-flex;
  height: 82%;
  width: 78%;
}

.order-card-text {
  width: fit-content;
  height: fit-content;
  font: $subheading-text;
  line-height: 1;
  color: white;
}

.order-card-icon {
  @extend %center-flex;
  width: 4em;
  height: 4em;
  background: white;
  border-radius: 50%;
}

.order-card-icon-arrow {
  width: 32px;
  height: 32px;
  color: $button-tg-color;
}
