<div class="points-card-page-wrapper">
  <div class="points-card-page-points-inf-box">
    <div class="points-card-page-gradient-box">
      <div class="points-card-page-points-box">
        <div class="points-card-page-points">
          <p>{{pointsAmount.points}}</p>
        </div>
        <div class="points-card-page-points-text">
          <p>баллов</p>
        </div>
      </div>
      <div class="points-card-page-currency">₽</div>
    </div>
    <div class="points-card-page-info-box">
      <div class="points-card-page-info-box-description">
        Дальше ты будешь получать <span>+50 баллов</span> за каждый завершенный заказ.
        Подробности <a routerLink="/{{appRoutes.profilePage}}">в профиле</a>.
      </div>
      <div class="points-card-page-info-box-calculation">
        При оформлении заказа ты можешь потратить накопленные баллы. 1 балл = 1 ₽.
      </div>
    </div>
  </div>
  <div class="points-card-page-points-history-box">
    <p class="points-card-page-points-history-label">История баллов</p>
    <div class="points-card-page-points-history">Пока что у тебя нет истории начислений баллов.</div>
  </div>
</div>
