@import "../../../../styles/variables";
@import "../../../../styles/flex.patterns";

.__common_size {
  width: 100%;
  height: fit-content;
}

.personal-status-box {
  @extend %start-column-center-flex;
  gap: 14px;

  h2 {
    font-weight: 800;
    line-height: 32px;

    span {
      color: dodgerblue;
    }
  }
}

.points-description {
  span {
    background: $gradient-color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.status-rules {
  background: $dark-tg-background;
  padding: 5%;
  border-radius: 1.5em;
}
