<div class="personal-status-box __profile-blocks">
  <h2>
    Статус: <span>{{profileData.status}}</span>
  </h2>
  <div class="points-description">
    Ты получишь <span>+50 баллов</span> за каждый заказ
  </div>
  <div class="status-rules __common_size">
    <p>У тебя нет завершенных заказов в Sneaker Shop.</p><br>
    <p>Закажи и получи еще 3 товара, чтобы получить статус «Модник».</p>
  </div>
  <div class="status-sheet __common_size">
    <app-table-row
      *ngFor="let row of statusTableData; index as i"
      [index]="i"
      orders="{{row.orders}}"
      pointsForOrder="{{row.pointsForOrder}}"
      status="{{row.status}}"
    />
  </div>
</div>
