@import "../../../styles/flex.patterns";
@import "../../../styles/squeeze-animation.pattern";

.profile-icon-wrapper {
  @extend %center-flex;
  height: 100%;
  width: fit-content;
}

.channel-icon-wrapper {
  @extend %center-flex;
  height: 36px;
  width: fit-content;
}

.header-icons-gen {
  @extend %squeeze-animation;
  @extend %start-row-bottom-flex;
  height: fit-content;
  width: fit-content;
  border-radius: 12em;
}
