<div class="product-page-wrapper">
  <div class="product-page-image-box">
    <div class="product-page-image"></div>
    <div class="product-page-image-label"></div>
  </div>
  <div class="product-page-product-inf-box">
    <div class="product-page-product-price-box">
      <div class="product-page-product-price"></div>
    </div>
    <div>
      <div>
        <div></div>
        <div></div>
      </div>
      <div></div>
    </div>
    <div></div>
  </div>
  <div>
    <div></div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
