<div class="wrapper delivery-inf-page-wrapper">
  <div class="delivery-inf-page-label">
    <p>Данные доставки</p>
  </div>
  <div class="delivery-options-box">
    <div class="delivery-options-label">
      <p>Способы получения</p>
    </div>
    <div
      class="delivery-options-icons-box"
    >
      <app-delivery-icons
        *ngFor="let item of deliveryIconData; index as i"
        [buttonOption]="buttonOption"
        [elementIndex]="i"
        [frameClassName]="frameState"
        [iconName]="item.iconName"
        [icon]="item.icon"
        [text]="item.text"
        class="delivery-options-icon"
      />
    </div>
    <div class="delivery-options-data-box">
      <app-pickup-store
        *ngIf="buttonOption === 0"
        class="app-pickup-store"
      />
      <app-distribution
        *ngIf="buttonOption === 1"
        [address]="address"
        [cityName]="city"
        [cityIsEmpty]="cityDataState"
        [addressIsEmpty]="addressDataState"
        class="app-distribution"
      />
      <app-deliver-home
        *ngIf="buttonOption === 2"
        class="app-delivery-home"
      />
    </div>
  </div>
  <div class="personal-data-fields-box">
    <div class="delivery-options-label">
      <p>Данные получателя</p>
    </div>
    <app-personal-data-field
      class="app-personal-full-name"
      idName="name"
      inputType="text"
      title="Полное имя"
    />
    <app-personal-data-field
      class="app-personal-phone-number"
      idName="phone"
      inputType="tel"
      title="Номер телефона"
    />
  </div>

</div>
