@import "../../../../styles/variables";
@import "../../../../styles/flex.patterns";

.delivery-inf-page-wrapper {
  @extend %center-column-top-flex;
  width: 100%;
  height: 100%;
  padding: 0 3%;
  background: $tg-background;
  color: $text-tg-color;
  z-index: $wrapper-z-index;
}

.delivery-inf-page-label {
  width: 100%;
  height: fit-content;
  font: $heading-text;
  text-align: left;
  margin-bottom: 15px;
}

.delivery-options-box {
  @extend %space-between-column-center-flex;
  text-align: left;
  width: 100%;
  gap: 15px;
}

.delivery-options-label {
  font: $subheading-text;
  text-align: left;
  width: 100%;
}

.delivery-options-icons-box {
  @extend %space-between-row-center-flex;
  gap: 3%;
  padding: 0 3%;
  z-index: $middle-z-index;
  position: relative;
  width: 100vw;
  scroll-padding-left: 6%;
  height: 56px;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  overflow-x: scroll;
}

.delivery-options-icons-box::-webkit-scrollbar {
  display: none;
}

.delivery-options-data-box {
  @extend %space-between-column-center-flex;
  width: 100%;
  height: fit-content;
}

.app-pickup-store {
  @extend %center-flex;
  width: 85%;
  height: fit-content;
}

.app-distribution {
  @extend %center-flex;
  width: 100%;
  height: fit-content;
}


