<div class="wrapper delivery-inf-page-wrapper">
  <div class="delivery-inf-page-label">
    <p>Данные доставки</p>
  </div>
  <div class="delivery-options-box">
    <div class="delivery-options-label">
      <p>Способы получения</p>
    </div>
    <div
      class="delivery-options-icons-box"
    >
      <app-delivery-icons
        *ngFor="let item of deliveryIconData; index as i"
        [icon]="item.icon"
        [iconName]="item.iconName"
        [text]="item.text"
        [className]="item.className"
        [frameClassName]="item.frameClassName"
        [elementIndex]="i"
        class="delivery-options-icon"
      />
    </div>
    <div class="delivery-options-data-box">
      <app-pickup-store
        *ngIf="buttonOption === 'Забрать из магазина'"
        class="app-pickup-store"
      />
    </div>
  </div>
  <div class="delivery-personal-data-box">
    <div class="delivery-personal-label"></div>
    <div class="delivery-personal-name"></div>
    <div class="delivery-personal-phone-number"></div>
  </div>
</div>
