<div class="store-location-wrapper">
  <div class="store-location-icon-box">
    <img class="store-location-icon" [src]="deliveryPageData.locationPinIcon" [alt]="deliveryPageData.locationIconName">
  </div>
  <div class="store-location-address-box">
    <div class="store-location-text-box">
      <p class="store-location-address">{{deliveryPageData.storeAddress}}</p>
      <p class="store-location-hours">{{deliveryPageData.storeHours}}</p>
    </div>
    <button
      class="store-location-link-button"
      (click)="click($event)"
      (touchend)="touch($event)"
    >{{deliveryPageData.lookMapButtonText}}</button>
  </div>
</div>
