<div
  class="friends-card-box"
  (click)="click($event)"
  (touchend)="touch($event)"
>
  <div class="friends-card-header">
    <div class="friends-card-header-label">Зови друзей</div>
    <svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="m7.5 5 5 5-5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
    </svg>
  </div>
  <div class="friends-card-footer">
    <div class="friends-card-footer-text">
      Дарим по <span>500₽</span> - тебе и приведенному другу
    </div>
  </div>
</div>
