@import "../../../../styles/flex.patterns";
@import "../../../../styles/variables";

.table-row {
  @extend %space-between-row-center-flex;
}

.first-row-span, .points-span {
  width: fit-content;
}

.points-span {
  background: $gradient-color;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-column {
  width: 33%;
  text-align: left;
  padding: 1%;
}

.second-column, .third-column {
  text-align: right;
  padding: 1%;
}

.second-column {
  width: 40%;
}

.third-column {
  width: 20%;
}

.first-row {
  color: $hint-tg-color;
}
