@import "../../../styles/variables";
@import "../../../styles/flex.patterns";

.friends-card-page-wrapper {
  width: 100%;
  height: 100%;
  background: $secondary-tg-background;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $text-tg-color;
  font: $main-text;
}

.friends-card-page-wrapper::-webkit-scrollbar {
  display: none;
}

.__gradient_span {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: $empty-color;
  background-clip: text;
}

.friends-card-page-friends-text-box {
  @extend %space-between-column-start-flex;
  width: 100%;
  height: fit-content;
  margin-bottom: $bottom-margin-friends;
}

.__friends-card-page-common-style {
  @extend %space-between-column-center-flex;
  width: 100%;
  padding: 0 4%;
  background: $tg-background;
  text-align: left;
}

.friends-card-page-friends-inf-box {
  border-radius: 0 0 $border-radius $border-radius;
  margin-bottom: $bottom-margin-friends;
  font: $main-text;

  .bold-span {
    color: white;
    font-weight: 900;
  }

  h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: $bottom-margin-friends;
    line-height: 1.1;
  }
}

.inf-box-second-third-box {
  width: 100%;
  height: fit-content;
  font: $main-text;
  padding: 4%;
  border-radius: $border-radius;
  background: $secondary-tg-background;
  margin-bottom: $bottom-margin-friends;
}

.friends-card-page-friends-emoji-box {
  @extend %center-flex;
  position: relative;
  width: 340px;
  height: 310px;
}

.friends-card-page-invite-inf-box {
  border-radius: $border-radius $border-radius 0 0;
  padding: 4%;

  .friends-card-page-invite-inf-box-block {
    @extend %space-between-column-start-flex;
    width: 100%;
    height: fit-content;

    h3 {
      font: $subheading-text;
      margin-bottom: $bottom-margin-friends;
    }

    .friends-card-page-link {
      background: $accent-text-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $empty-color;
      background-clip: text;
      font: $main-text;
      margin-bottom: $bottom-margin-friends;
    }
  }

  .friends-card-page-button-box {
    width: 100%;
    height: 50px;
    margin-bottom: $bottom-margin-friends;
  }

  .friends-card-page-button {
    width: 100%;
    height: 100%;
    background: $tg-background;
    color: $accent-text-color;
    font: $main-text;
    border-radius: 1em;
    border: $hint-tg-color solid 1px;
  }
}

.friends-card-page-history-box {
  @extend %space-between-column-start-flex;
  width: 100%;
  height: fit-content;
  font-size: 12px;
  color: $hint-tg-color;
}

.friends-card-page-table-box {
  @extend %space-between-column-start-flex;
  width: 100%;
  height: fit-content;
  padding: 5%;
  font: $main-text;
  background: $secondary-tg-background;
  border-radius: $border-radius;
  margin-bottom: 2%;
  gap: 10px;
}

.friends-card-page-table {
  width: 100%;
  height: 100%;
}

.__emoji_common_styles {
  aspect-ratio: 1/1;
  position: absolute;
  display: block;
  margin: 0;
  transition: ease-out;
  animation: emoji-pop-up 1s 1;
}

.beard-guy-emoji {
  top: 25%;
  left: 5%;
  z-index: 1;
}

.celebrating-girl-emoji {
  top: 68%;
  left: 63%;
  z-index: 1;
}

.curly-guy-emoji {
  top: 30%;
  z-index: 2;
}

.glasses-guy-emoji {
  top: 4%;
  left: 28%;
  z-index: 0;
}

.kissing-girl-emoji {
  top: 20%;
  left: 64%;
  z-index: 1;
}

.love-girl-emoji {
  top: 4%;
  left: 63%;
  z-index: 0;
}

.wow-girl-emoji {
  top: 64%;
  left: 14%;
  z-index: 0;
}

@keyframes emoji-pop-up {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  40% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
