<div class="friends-card-page-wrapper">
  <div class="friends-card-page-friends-inf-box __friends-card-page-common-style">
    <div class="friends-card-page-friends-emoji-box">
      <app-friends-page-emoji
        *ngFor="let item of emojiData"
        [backgroundColor]="item.backgroundColor"
        [class]="item.className"
        [emojiAlt]="item.name"
        [emoji]="item.image"
        [width]="item.width"
        class="__emoji_common_styles"
      />
    </div>
    <div class="friends-card-page-friends-text-box">
      <h1>
        Приглашай друзей! Дарим по <span class="__gradient_span">500 рублей</span> каждому!
      </h1>
      <p class="inf-box-first-text">
        Получи за каждое приглашение по твоей реферальной ссылке <span class="__gradient_span">500 баллов.</span>
        Также <span class="__gradient_span">500 баллов</span> получит твой друг.
      </p>
      <br>
      <p class="inf-box-second-text">
        <span class="__gradient_span">1 балл</span><span class="bold-span"> = 1 рубль.</span><br>
        Баллами можно оплачивать до 100% покупок.
      </p>
    </div>
    <div class="inf-box-second-third-box">
      <p class="inf-box-third-text-1">
        Баллы начисляются после того как заказ пользователя, перешедшего по реферальной ссылке,
        был отправлен в Россию.
      </p>
      <br>
      <p class="inf-box-third-text-2">
        Акция действует до 1 ноября. После 1 ноября вы будете получать <span class="__gradient_span">+250 баллов</span>
        за приглашенного друга, а другу ничего не начислится.
      </p>
    </div>
  </div>
  <div class="friends-card-page-invite-inf-box __friends-card-page-common-style">
    <div class="friends-card-page-invite-inf-box-block">
      <h3>Твоя ссылка на приглашение</h3>
      <p class="friends-card-page-link">https://t.me/sneakerheadru</p>
    </div>
    <div class="friends-card-page-button-box">
      <button
        class="friends-card-page-button"
        copyClipboard="https://t.me/sneakerheadru"
        (click)="copyClick()"
      >Скопировать <span *ngIf="checkMarkState">✅</span></button>
    </div>
    <div class="friends-card-page-table-box">
      <app-friends-card-page-table
        *ngFor="let item of friendsPageTableData"
        [text]="item.text"
        [amount]="item.amount"
        class="friends-card-page-table"
      />
    </div>
    <div class="friends-card-page-history-box">
      <p>Пока что у тебя нет истории начислений баллов.</p>
    </div>
  </div>
</div>
