<div class="personal-delivery-inf-box __profile-blocks">
  <h2>Данные доставки</h2>
  <div class="delivery-inf-text-box __common_size">
    <p>Чтобы не вводить каждый раз после заказа.</p>
    <p>Но если нужно будет заказать какой-то заказ в другое место — не проблема.</p>
  </div>

  <div class="delivery-inf-data-box">
    <div
      class="__delivery-inf-field"
    >
      <div class="delivery-inf-label">ФИО получателя</div>
      <div class="delivery-inf-data">{{deliveryInformationData.fullName}}</div>
    </div>

    <div
      class="__delivery-inf-field"
    >
      <div class="delivery-inf-label">Телефон</div>
      <div class="delivery-inf-data">{{deliveryInformationData.phoneNumber}}</div>
    </div>

    <div
      class="__delivery-inf-field"
    >
      <div class="delivery-inf-label">Город</div>
      <div class="delivery-inf-data">{{deliveryInformationData.city}}</div>
    </div>

    <div
      class="__delivery-inf-field"
    >
      <div class="delivery-inf-label">Адресс</div>
      <div class="delivery-inf-data">{{deliveryInformationData.address}}</div>
    </div>
  </div>
  <div class="delivery-inf-button-box">
    <button
      class="delivery-inf-button"
      (click)="onClick()"
    >Редактировать</button>
  </div>
</div>
