@import "../../../../styles/flex.patterns";

.personal-delivery-inf-box {
  @extend %start-column-center-flex;
      gap: 14px;
}

.__delivery-inf-input-field {
      @extend %space-between-row-center-flex;
      height: 100%;
      width: 100%;
      font-weight: 400;

      .delivery-inf-input-label {
            width: fit-content;
      }

      .profile-delivery-inf-button {
            width: fit-content;
            height: 33px;
      }
}

.delivery-inf-text-box {
      margin-bottom: 4%;

      h2 {
            font-weight: 800;
            margin-bottom: 3%;

            p {
                  font-weight: 400;
            }
      }
}
