<div class="product-filter-page-wrapper">
  <div class="product-filter-page-filter-label-box">
    <div class="product-filter-page-filter-label">
      <p>Фильтры</p>
    </div>
    <div
      class="product-filter-page-filter-back-button"
      (click)="goBackButton()"
    >
      <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 5 5 15M5 5l10 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>

  <div class="product-filter-page-filter-price-box">
    <div class="product-filter-page-filter-price-label">Цена, $</div>
    <div class="product-filter-page-filter-price-inputs">
      <div class="product-filter-page-filter-price-input">
        <label for="price-from">От</label>
        <input
          (input)="onSubmit($event, FROM_PRICE_INPUT_OPTION)"
          [value]="filterPriceFrom"
          type="text"
          placeholder="0"
          id="price-from"
          maxlength="4"
        >
      </div>
      <div class="product-filter-page-filter-price-input">
        <label for="price-to">До</label>
        <input
          (input)="onSubmit($event, TO_PRICE_INPUT_OPTION)"
          [value]="filterPriceTo"
          type="text"
          placeholder="110"
          id="price-to"
          maxlength="4"
        >
      </div>
    </div>
  </div>

  <div class="product-filter-page-filter-options-box">
    <app-filter-option
      *ngFor="let filter of filterOptionsArray; index as i"
      [text]="filter.text"
      [isSelected]="filter.isSelected"
      [elementIndex]="i"
    />
  </div>

  <div class="product-filter-page-filter-sex-box">
    <div class="product-filter-page-filter-sex-label">Пол</div>
    <div class="product-filter-page-filter-sex">
      <app-checkbox
        (touchend)="touch($event)"
        (buttonClick)="click($event)"
        [inputValue]="MALE_CLOTHING_INPUT_TYPE"
        class="app-checkbox"
        inputText="Мужская одежда"
      />
      <app-checkbox
        (touchend)="touch($event)"
        (buttonClick)="click($event)"
        class="app-checkbox"
        [inputValue]="FEMALE_CLOTHING_INPUT_TYPE"
        inputText="Женская одежда"
      />
    </div>
  </div>
</div>
