@import "../../../../styles/flex.patterns";
@import "../../../../styles/squeeze-animation.pattern";

.order-page-square-widget-wrapper {
  @extend %center-flex;
  @extend %squeeze-animation;
  width: 100%;
  height: 100%;
  border-radius: 2em;
}

.order-page-square-widget-box {
  @extend %space-between-column-start-flex;
  width: 80%;
  height: 80%;
}

.order-page-square-widget-text {
  @extend %space-between-row-bottom-flex;
  width: 100%;
  height: fit-content;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 18px;

  p {
    width: 6em;
  }

  img {
    width: 22px;
    height: 22px;
  }
}


