@import "../../../../styles/space-between-row-flex";
@import "../../../../styles/squeeze-animation.pattern";

.input-box {
  @extend %space-between-row-flex;
  height: 35px;
  width: 100%;

  .input-field {
    height: 100%;
    width: 55%;
    font-size: 12px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    border: var(--tg-theme-text-color) solid 2px;
    border-radius: 1em;
    padding-left: 2%;
  }

  .final-data {
    height: fit-content;
    width: 55%;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    padding-left: 2%;
  }

  .submit-button,
  .cancel-button {
    @extend %squeeze-animation;
    height: 90%;
    width: fit-content;
    color: var(--tg-theme-text-color);
    padding: 1%;
    border-radius: 1em;
  }

  .submit-button {
    background: var(--tg-theme-button-color);
  }

  .cancel-button {
    background: var(--tg-theme-bg-color);
    border: var(--tg-theme-text-color) solid 2px;
  }
}
