@import "../../../../styles/flex.patterns";
@import "../../../../styles/variables";

.profile-wrapper {
  @extend %center-column-top-flex;
  height: 100vh;
  width: 100vw;
  font: $main-text;
  color: $text-tg-color;
  gap: 2%;
  overflow-y: scroll;
}

.profile-wrapper::-webkit-scrollbar {
  display: none;
}

.__profile-blocks {
  height: fit-content;
  width: 100%;
  background: $tg-background;
  border-radius: 1.5em;
  padding: $wrapper-padding;
}
