@import "../../../styles/squeeze-animation.pattern";
@import "../../../styles/flex.patterns";
@import "../../../styles/variables";

.action-cards-box {
  @extend %space-between-row-center-flex;
  height: 230px;
  width: 100%;
  gap: 0.6em;
  margin-top: 2.3%;
  z-index: $middle-z-index;
}

.points-friends-cards-box {
  @extend %space-between-column-center-flex;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 5%;
  z-index: $middle-z-index;
}

.order-card-component {
  @extend %center-flex;
  width: 48%;
  height: 100%;
  background: $button-tg-color;
}

.friends-card-component {
  height: 52%;
}

.points-card-component {
  height: 48%;
}

.action-cards-box,
.points-friends-cards-box,
.points-card-component {
  border: none;
  outline: none;
  text-align: unset;
  background: $empty-color;
  transition: transform .15s linear;
}

.__cards-common-style {
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: $border-radius;
  z-index: $high-z-index;
}

.friends-card-component,
.order-card-component {
  @extend %squeeze-animation;
}




