<div class="size-table-page-wrapper">
  <div class="size-table-page-table-box">
    <div class="size-table-page-label">Размерная сетка</div>
    <table class="size-table-page-table">
      <tr>
        <th></th>
        <th>ARM</th>
        <th>BUST</th>
        <th>WAIST</th>
        <th>HIPS</th>
        <th>THIGH</th>
      </tr>
      <tr>
        <th>2XS</th>
        <td>8.75-9.5</td>
        <td>30-32</td>
        <td>22-24</td>
        <td>32-34</td>
        <td>17.5-18.75</td>
      </tr>
      <tr>
        <th>XS</th>
        <td>9.5-10.25</td>
        <td>32-34</td>
        <td>24-26</td>
        <td>36-38</td>
        <td>18.75-20</td>
      </tr>
      <tr>
        <th>S</th>
        <td>10.25-10.75</td>
        <td>34-36</td>
        <td>26-28</td>
        <td>36-38</td>
        <td>20-21.25</td>
      </tr>
      <tr>
        <th>M</th>
        <td>10.75-11.25</td>
        <td>36-38</td>
        <td>28-30</td>
        <td>38-40</td>
        <td>21.25-22.5</td>
      </tr>
      <tr>
        <th>L</th>
        <td>11.25-12</td>
        <td>38-40</td>
        <td>30-32</td>
        <td>40-42</td>
        <td>22.5-23.75</td>
      </tr>
      <tr>
        <th>XL</th>
        <td>12-13</td>
        <td>40-43</td>
        <td>32-35</td>
        <td>42-45</td>
        <td>23.75-25.5</td>
      </tr>
      <tr>
        <th>2XL</th>
        <td>13-14.25</td>
        <td>43-47</td>
        <td>35-39</td>
        <td>45-49</td>
        <td>25.5-27.75</td>
      </tr>
      <tr>
        <th>3XL</th>
        <td>14.25-15.75</td>
        <td>47-51</td>
        <td>39-43</td>
        <td>49-53</td>
        <td>27.75-30.5</td>
      </tr>
    </table>
  </div>
</div>
