@import "../../../styles/squeeze-animation.pattern";
@import "../../../styles/flex.patterns";
@import "../../../styles/variables";

.points-card-background {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: unset;
  background: $empty-color;
  transition: transform .15s linear;
}

.points-card-inner {
  @extend %squeeze-animation;
  @extend %space-between-column-start-flex;
  position: absolute;
  font: $subheading-text;
  width: 100%;
  height: 100%;
  z-index: $high-z-index;
  background-color: $tg-background;
  border-radius: $border-radius;
  padding: 10%;
}

.points-card-header {
  @extend %space-between-row-top-flex;
  width: 100%;
  height: fit-content;

  img {
    width: 23px;
    height: 23px;
  }
}

.points-card-header-tittle {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: $empty-color;
  background-clip: text;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.points-card-footer {
  @extend %space-between-row-center-flex;
  width: fit-content;
  height: fit-content;
  gap: 12%;
}

.points-card-footer-icon {
  @extend %center-flex;
  background-image: radial-gradient(496% 571.1% at -112% 78%, rgb(235, 156, 0) 0px, rgb(255, 71, 105) 27.08%, rgb(61, 80, 255) 66.38%, rgb(0, 179, 255) 100%);
  border-radius: 99999px;
  font-size: 20px;
  color: white;
  min-width: 1.3em;
  aspect-ratio : 1 / 1;
}

.points-card-footer-points {
  width: fit-content;
  height: fit-content;
  background: radial-gradient(196.55% 274.1% at -81.9% 40%, #eb9c00 0, #ff4769 27.08%, #3d50ff 66.38%, #00b3ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: $empty-color;
  font-size: 30px;
}

.points-card-background::after {
  transition: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  filter: blur(21px);
  border-radius: 9999999px;
  z-index: $middle-z-index;
  background: radial-gradient(84.29% 136.58% at 6.86% 83.96%, #eb9c00 0, #ff4769 27.08%, #3d50ff 66.38%, #00b3ff 100%) repeat;
  animation: actions-gradient-animation 5s linear infinite alternate-reverse;
}

@keyframes actions-gradient-animation {
  0% {
    transform: scaleX(1) rotate(0deg) translateX(0)
  }

  50% {
    transform: scaleX(.9) rotate(25deg) translateX(-5%)
  }

  to {
    transform: scaleX(.9) rotate(-15deg) translateX(5%)
  }
}
