<div
  class="points-card-background"
  (click)="click($event)"
  (touchend)="touch($event)"
>
  <div class="points-card-inner">
    <div class="points-card-header">
      <div class="points-card-header-tittle">Баллы</div>
      <img src="assets/gradient-right-arrow.svg" alt="gradient-right-arrow">
    </div>
    <div class="points-card-footer">
      <div class="points-card-footer-icon">₽</div>
      <div class="points-card-footer-points">{{pointsAmount.points}}</div>
    </div>
  </div>
</div>
