@import "../../../../styles/squeeze-animation.pattern";

.text {
  font-family: 'Manrope', sans-serif;
  color: var(--tg-theme-text-color);
  width: 73%;
}

.image {
  width: 20%;
  height: 80%;
  margin-left: 2%;
}

.channel-icon {
}
