@import "../../../../styles/variables";

.__channel-common-styles {
  width: fit-content;
}

.channel-icon {
  background-color: $dark-tg-background;
  padding-right: 5%;
  gap: 1%;
}

.channel-icon-text {
  font-family: 'Mulish', sans-serif;
  padding-bottom: 1%;
}

.channel-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 12px;
  color: $text-tg-color;
}

.channel-description {
  font-weight: 500;
  font-size: 9px;
  color: $hint-tg-color;
}
