<button
  class="profile-icon header-icons-gen"
  (click)="click($event)"
  (touchend)="touch($event)"
>
  <div class="profileImg">
    <p class="profile-emoji">{{profileData.image}}</p>
  </div>
  <div class="profile-name-status">
    <div class="profile-main-text">
      <div class="profile-name">
        {{profileData.name}}
      </div>
      <div class="profile-name-arrow">
        <span class="material-symbols-outlined">chevron_right</span>
      </div>
    </div>
    <div class="profile-status">{{profileData.status}}</div>
  </div>
</button>
