@import "../../../../styles/flex.patterns";
@import "../../../../styles/variables";

.profile-main-text,
.material-symbols-outlined {
  height: fit-content;
  width: fit-content;
}

.profile-icon {
  height: 38px;
  width: fit-content;
}

.profile-name-status {
  @extend %space-between-column-start-flex;
  width: 100%;
  height: 100%;
}

.profile-icon {
  align-items: start;
  background: none;
  font-family: 'Mulish', sans-serif;
  color: $text-tg-color;
  gap: 4%;
}

.profileImg {
  @extend %center-flex;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  margin-right: 2%;
}

.profile-emoji {
  width: 38px;
  height: 38px;
}

.profile-main-text {
  @extend %space-between-row-bottom-flex;
}

.profile-name-arrow {
  @extend %center-flex;
  width: 18px;
  height: 18px;
}

 .material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 300,
     'GRAD' 0,
     'opsz' 20
 }

.profile-name {
  font: $main-bold-text;
}

.profile-status {
  @extend %center-flex;
  height: fit-content;
  width: fit-content;
  font: $super-small-text;
  padding: 1% 3%;
  color: $tg-background;
  background: $text-tg-color;
  border-radius: 0.5em;
}
